<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script>
        function changeInputType(newType) {
            document.getElementById('option1').type = newType;
            document.getElementById('option2').type = newType;
        }  
        var currentQuestionID = question.questionID;
    </script>
    <title>Document</title>
</head>
<body>
    <div class="">
        <h1 class="mb-4">QUESTIONAIRE</h1>
    </div>
    <div>
        <h3 class="mb-4"><%= question.questionName %></h3>
    </div>
    <div>
        <h4>Select the Type of the answer you want to give</h4>
        <select name="price" action="post" id="mySelect" onChange="changeInputType(this.value)">
            <option value="Radio">Please seleect</option>
            <option value="Radio">Radio Button</option>
            <option value="checkbox">Check Box</option>
            </select>
            
    </div>
    <div>
        <% let op = options.optionArray %> 
        <form action = "/questions/getNextQuestionAndOptions", method="POST">
            <input type="hidden" id="option1" class = "question" name="option", value= <%= op[0].nextQuestionID %>>
            <label for="option1"> <%= op[0].option %> </label> <br><br>
            <input type="hidden" id="option2" class = "question" name="option" value= <%= op[1].nextQuestionID %>>
            <label for="option2"> <%= op[1].option %> </label> <br><br>
            <% if( op[0].nextQuestionID !== null) { %>
                <button type="submit" class="btn btn-primary"> Next</button>
            <% } %>
            <% if( op[0].nextQuestionID === null) { %>
                <button type="submit" class="btn btn-primary"> Submit</button>
            <% } %>
        </form>
    </div>
    <div>
        <a href="/questions/getNextSourceQuestion/" onclick="location.href=this.href+'<%= question.questionID %>';return false;" class="btn btn-success" value = <% question.questionID %>> Skip</a>
    </div>
</body>
</html>